__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pytest_cache/
*.log
*.tmp
*.bak
*.swp
*.zip
scripts/CSVcleaner/README.md
scripts/CSVcleaner/index_settings.json
scripts/CSVcleaner/index_sources.json
scripts/CSVcleaner/recipes.json
